.header{
    padding: 40px 0;
    &__list{
        display: flex;
        column-gap: 40px;
    }
    &__link{
        color: black;
        &.active{
            color: orangered;
        }
    }

}
.header__link{
    text-decoration: none;
}