.our_form{
    width: 800px;
    margin: 20px auto;
    background-color: rgb(11, 29, 39);
    padding: 20px;
    border-radius: 20px;
}
.position{
    width: 100vw;

}
.headers_auth{
    text-align: center;
}
.form_label{
    color: white;
}
.knopka{
    margin-bottom: 30px;
}
.open_btn{
    margin-bottom: 20px;
}